:root {
  --primary-font: 'Open Sans', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --primary-text-color-theme-dark: #ffffff;
  --primary-text-color-theme-light: #303030;
  --secondary-text-color-theme-dark: #9da4bd;
  --secondary-text-color-theme-light: #555555;
  --accent-color: #ff6c00;
}
h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}
button {
  cursor: pointer;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

body {
  font-family: var(--primary-font);
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
/* ========== COMPONENTS ========== */
.modal-btn {
  padding: 12px 20px;
  font-family: var(--primary-font);
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  cursor: pointer;

  border: 1px solid var(--accent-color);
  border-radius: 25px;
  background-color: transparent;
}
.modal-btn-theme-dark {
  color: var(--primary-text-color-theme-dark);
}
.modal-btn-theme-light {
  color: var(--primary-text-color-theme-light);
}
.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--accent-color);
  color: var(--primary-text-color-theme-dark);
}
.media-list-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;

  color: var(--primary-text-color-theme-light);
}
.media-list-link:hover,
.media-list-link:focus {
  color: var(--accent-color);
}
.suptitle {
  margin-bottom: 20px;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
}
.suptitle-theme-dark {
  color: rgba(157, 164, 189, 0.6);
}
.suptitle-theme-light {
  color: var(--primary-text-color-theme-light);
}
.section-description {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;

  color: var(--secondary-text-color-theme-light);
}
.section-title {
  font-family: var(--secondary-font);
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}
.section-title-theme-dark {
  margin-bottom: 44px;
  color: var(--primary-text-color-theme-dark);
}
.section-title-theme-light {
  margin-bottom: 20px;
  color: var(--primary-text-color-theme-light);
}
/* ========== /COMPONENTS ========== */

/* ========== SITE HEADER ==========*/
.page-header {
  padding-top: 32px;
  padding-left: 55px;
  padding-right: 17px;
  /* тимчасово */
  background-color: rgba(25, 28, 38, 0.2);
}
.logo {
  margin-right: 131px;
}
.page-header-container {
  display: flex;
  align-items: center;
}
.page-nav {
  display: flex;
  align-items: center;
}
.menu {
  display: flex;
  align-items: center;
}
.menu-item:not(:last-child) {
  margin-right: 30px;
}
.menu-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;

  color: var(--primary-text-color-theme-dark);
}
.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}
.phone-number {
  margin-left: auto;
  margin-right: 43px;

  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;

  color: var(--primary-text-color-theme-dark);
}
.phone-number:hover,
.phone-number:focus {
  color: var(--accent-color);
}
/* ========== /SITE HEADER ==========*/

/* ========== HERO ========== */
.hero {
  /* тимчасово */
  background-color: rgba(25, 28, 38, 0.2);
  padding-top: 184px;
  padding-bottom: 208px;
}
.media-list {
  display: flex;
  align-items: center;
}
.media-list-item:not(:last-child) {
  margin-right: 40px;
}
.main-title {
  margin-bottom: 20px;

  font-family: var(--secondary-font);
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;

  color: var(--primary-text-color-theme-dark);
}
.hero-container {
  padding-left: 100px;
  padding-right: 526px;
}
/* ========== /HERO ========== */

/* ========== ABOUT ==========*/
.about-container {
  display: flex;
  align-items: center;
  padding-right: 100px;
}
.about-list {
  display: flex;
  align-items: center;
}
.about-list-item {
  margin-right: 30px;
}
.section-description-about {
  margin-bottom: 20px;
}
.about-text {
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;

  color: var(--secondary-text-color-theme-light);
}
.about-text-about {
  margin-bottom: 42px;
}
/* ========== /ABOUT ==========*/

/* ========== SERVICES AND PRICES ==========*/
.prices {
  /* тимчасово */
  background-color: rgba(25, 28, 38, 0.2);
}
.prices-table {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;

  color: var(--secondary-text-color-theme-dark);
}
/* ========== /SERVICES AND PRICES ==========*/

/* ========== ¿Why people come to us? =========*/
.number-benefits {
  margin-bottom: 6px;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.35;
  text-align: center;
  letter-spacing: 0.05em;

  color: var(--primary-text-color-theme-light);
}
.discription-benefits {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;

  color: var(--primary-text-color-theme-light);
}
.benefits-container {
  display: flex;
}
.benefits-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-right: 130px;
}
.benefits-list-item {
  padding: 20px 24px;
  background-color: #f7f7f7;
  width: 170px;
}
/* ========== /¿Why people come to us? =========*/

/* ========== Our barbers (Barbers) ===========*/
.barbers {
  background-color: #f7f7f7;
}
.barbers-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.barbers-item {
  flex-basis: calc((100% - 2 * 30px) / 3);
}
.barber-title {
  margin-bottom: 44px;
}
.barber-name-title {
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.38;
  text-align: center;
  letter-spacing: 0.02em;

  color: var(--primary-text-color-theme-light);
}
.barber-position {
  font-size: 14px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.02em;

  color: var(--accent-color);
}
.barber-name-card {
  margin-bottom: 30px;
  margin-top: 30px;
}
/* ========== /Our barbers (Barbers) ===========*/

/* ========== Photo gallery ==========*/
.gallery-list {
  display: flex;
  align-items: center;
  gap: 30px;
}
.gallery-list-item {
  flex-basis: calc((100% - 3 * 30px) / 4);
}
.gallery-suptitle {
  margin-bottom: 44px;
}
/* ========== Photo gallery ==========*/

/* ========== Online-booking ========== */
.last-sections {
  display: flex;
  justify-content:baseline;
  background-color: #191c26;
}
/* ========== Online-booking ========== */

/* ========= Contacts ==========*/
.contacts-link {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;

  color: var(--secondary-text-color-theme-dark);
}
.contacts-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;

  color: var(--primary-text-color-theme-dark);
}
.contacts-time {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;

  color: var(--secondary-text-color-theme-dark);
}
.adress {
  font-weight: 700;
}
/* ========= /Contacts ==========*/

/* ========== Footer ========== */
.footer-container {
  padding-top: 56px;
  padding-bottom: 56px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.copy {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;

  color: var(--secondary-text-color-theme-dark);
}
/* ========== /Footer ========== */
